body {
  font-family: "Open Sans", sans-serif;
  background: #e8ecf5;
  color: #585a61;
  margin: 0px;
}
#header {
  margin: 10px 0;
}
.judul {
  font-family: "Raleway", sans-serif;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  color: #47536e;
  margin-bottom: .5rem;
}
.subjudul {
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
}
.kotak-konten {
    width: 500px;
    height: auto;
    display: block;
    margin: 10px;
    padding: 0;
    border: 1px solid #000;
    border-radius: 5px;
  }
.ku {
  background: #333 !important;
  color: #fff !important;
  border-bottom: 1px solid #999 !important;
}
.konten {
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
    padding: 2px 0;
    border-bottom: 1px solid #000;
    border-radius: 5px 5px 0 0;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-size: 1.3em;
    color: #585a61;
    text-align: center;
  }
.beli{
  margin: 20px 5px;
}
.harga {
    width: 100%;
    margin: 7px 0;
    border-collapse: collapse;
    border: 0;
  }
.mydemo {
    display: block;
    margin: 10px auto;
    padding: 0px;
    border: 0;
    border-bottom: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 1em;
    color: #5777ba;
    text-align: center;
    text-decoration: none;
  }
.mydemo:hover {
    color: #748ec6;
}
.detail {
  margin: 10px;
  font-size: 14px;
  text-align: left;
}
a:hover {
    text-decoration: none;
}
@media screen and (width: 411px){
  .subtitle{padding: 0 10px}
  .kotak-konten{width: 390px;}
}
@media screen and (width: 360px){
  .kotak-konten{width: 340px;}
}
@media screen and (width: 320px){
  .kotak-konten{width: 300px;}
}
@media screen and (width: 375px){
  .kotak-konten{width: 355px;}
}
@media screen and (width: 414px){
  .kotak-konten{width: 390px;}
}